
<h1><%= current_user.name %>'s Account</h1>
<a href="/users/edit">Edit Account Information</a>
<hr>
<div class="large-4 columns">
<h3>My Bands:</h3>
<ul>
<% current_user.bands.each do |band| %>
<li><%= band.name %>
<form action="/bands/<%= band.id %>/edit">
  <button class="tiny button">Edit Band</button>
</form>

<form action="/bands/<%= band.id %>/" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button class="tiny button">Delete Band</button>
</form>
</li>
<% end %>
</ul>
<form action="/bands/new">
<button class="small button">Add a Band to my Profile</button>
</form>
</div>

<div class="large-4 columns">
<h3>My Shows:</h3>
<ul>
<% current_user.shows.each do |show| %>
<li><%= show.date %> <%= show.time %> <%= show.venue.name %></li>
<% end %>
</ul>
<form action="/shows/new">
<button class="small button">Add a Show</button>
</form>
</div>

<div class="large-4 columns">
  <h3>My Requests:</h3>
  
  <% @requests.each do |request| %>
  <ul>
    <li>Date: <%= request.show.date %></li>
    <li>Venue: <%= request.show.venue.name %></li>
    <li>Band Requesting: <%= request.band.name %></li>
    <li><a href="<%= request.band.website %>">Band Website</a></li>
    <li>Contact: <a href="mailto:<%= request.band.user.email %>"><%= request.band.user.name %></a></li>
  </ul>
  <% end %>
</div>



