<h1>Edit Band</h1>
<hr>
<div class="small-4 small-centered columns">
<form action="/bands/<%= @band.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <p>Band Name</p>
  <input name="name" value="<%= @band.name %>">
  <br>
  <p>Genre</p>
  <input name="genre" value="<%= @band.genre %>">
  <br>
  <p>Hometown City</p>
  <input name="hometown_city" value="<%= @band.hometown_city %>">
  <br>
  <p>Hometown State</p>
  <input name="hometown_state" value="<%= @band.hometown_state %>">
  <br>
  <p>Band Image URL</p>
  <input name="image_url" value="<%= @band.image_url %>">
  <br>
  <p>Band Website</p>
  <input name="website" value="<%= @band.website %>">
  <br>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button class="small button">Edit Band</button>
</form>
</div>