<div class="large-4 large-centered columns white_bg">
<h1>Edit Show</h1>
<form action="/shows/<%= @show.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="date" value="<%= @show.date %>">
  <input type="text" name="time" value="<%= @show.time %>">
  <input type="number" name="slots_open" value="<%= @show.slots_open %>">
  <select name="band">
  <% current_user.bands.each do |band| %>
    <option value="<%= band.id %>"><%= band.name %></option>
      <% end %>
    </select>
  <input type="text" name="venue_name" value="<%= @show.venue.name %>">
  <input type="text" name="venue_street" value="<%= @show.venue.street %>">
  <input type="text" name="venue_city" value="<%= @show.venue.city %>">
  <input type="text" name="venue_state" value="<%= @show.venue.state %>">
  <input type="text" name="venue_zipcode" value="<%= @show.venue.zipcode %>">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button>Edit Show</button>
</form>
</div>