<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/favicon.ico/"/>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ShowFinder" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

     <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    

  </head>

  <body id="index_background">
    

    <nav class="top-bar" data-top-bar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <% if user_signed_in? %>
        <a href="/welcome"><strong>ShowFinder</strong></a></h1>
        <% else %>
        <a href="/"><strong>ShowFinder</strong></a></h1>
        <% end %>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <% if user_signed_in? %>

    <ul class="right">
      <li><a href="/shows/">All Shows</a></li>

      <li class="has-dropdown">
    <a href="#" data-dropdown="hover1" data-options="is_hover:true">Search by City/State</a>

      <ul id="hover1" class="f-dropdown" data-dropdown-content>
        <li>
          <form action="/shows">
            <input type="text" name="search_city" placeholder="City">
            <input type="text" name="search_state" placeholder="State">
            <button class="tiny button">Search</button>
          </form>
        </li>
        </ul>


      <li class="has-dropdown">
    <a href="#" data-dropdown="hover2" data-options="is_hover:true">Account</a>

      <ul id="hover2" class="f-dropdown" data-dropdown-content>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/sign_out">Sign Out</a></li>
      </ul>
</ul>

      <% else %>
      <ul class="right">
        <li><a href="/shows/">All Shows</a></li>
      </ul>
</ul>
<% end %>


    

  </nav>


          
        

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>